nav a {
    display: none;
}

.audio {
    display: none;
}

.tunes {
    display: none;
}

body {
    background-color: white;
    color: black;
}

.work-div {
    opacity: 100%;
}

header {
    opacity: 100%;
}

.education-section {
    opacity: 100%;
}

.skills {
    opacity: 100%;
}

.about-me {
    position: relative;
    top: 10px;
    opacity: 100%;
}

.leaf-top1 {
    opacity: 0%;
}

.leaf-top2 {
    opacity: 0%;
}