/*NAV*/





/*LAYOUT*/

body {
    font-family: 'Montserrat', sans-serif;
}

.front__name {
    font-size: xx-large;
    margin-right: 1%;
}

.mini_bio {
    font-size: xx-large;
    margin-right: 1%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2%;
}

.nav_ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav_ul_li {
    list-style: none;
}

.nav_ul_li--a {
    font-size: large;
    text-decoration: none;

}


/*COLORS */
.nav_ul_li--a {
    color: #B0BABD;
}

.nav_ul_li--a:hover {
    color: #EAE8F1;
}

.nav_ul {
    background-color: #1C629A;
    padding: 1%;
    border-radius: 15px;
}



.name {
    color: #22A6B3;
}

.container .card .box .content a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #fff;
    color: #000;
}

.container .card:nth-child(1) .box .content a {
    background: #22A6B3;
}

.container .card:nth-child(2) .box .content a {
    background: #22A6B3;
}

.container .card:nth-child(3) .box .content a {
    background: #22A6B3;
}

.container .card .box .content a {
    background: black;
    color: white;
}

.container .card .box .content p {
    color: #B0BABD;
}

.container .card {
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.container .card .box {
    background: #2a2b2f;
}

.container .card .box:before {
    background: rgba(255, 255, 255, 0.03);
}

.container .card .box .content h3 {
    color: #22A6B3;
}

.container .card .box .content h2 {
    color: rgba(255, 255, 255, 0.1);
}

.container .card .box .content a {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/*IMAGE*/


.portrait {
    position: relative;
    border-radius: 80%;
    width: 25%;
    height: auto;
    z-index: -1;
}


/*  MEDIA QUERY */

@media only screen and (max-width: 769px) {

    .front__name {
        font-size: large;
        margin-right: 1%;
    }

    .mini_bio {
        font-size: large;
        margin-right: 1%;
    }


    .nav {
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
    }

    .nav_ul {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .nav_ul_li--a {
        font-size: small;
        text-decoration: none;
        margin: auto;

    }
}

/* PROJECTS */


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px 0;
}

.container .card {
    position: relative;
    min-width: 320px;
    height: 440px;
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
}

.container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
}

.container .card .box:hover {
    transform: translateY(-50px);
}

.container .card .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.container .card .box .content {
    padding: 20px;
    text-align: center;
}

.container .card .box .content h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.1);
}

.container .card .box .content h3 {
    font-size: 1.8rem;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
}

.container .card .box .content p {
    font-size: 1rem;
    font-weight: 300;
    z-index: 1;
    transition: 0.5s;
}

.container .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    transition: 0.5s;
}