/*NAV*/





/*LAYOUT*/
.front__name {}




/*COLORS */


body {
    background-color: #164766;
    color: #B0BABD;
}

/*image*/
.portrait {
    position: relative;
    border-radius: 80%;
    width: 25%;
    height: auto;
    left: 60%;
    z-index: -1;
}